#top{
    width: 100vw;
}


article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 5vw;
    padding: 5vw;
    border: 1px solid black;
    text-align: center;
    
    
}
iframe{
    width: 100%;
}
@media (max-width: 700px) {
    article {
        grid-template-columns: 1fr;
    }
    iframe{
        width: 75vw;
    }
}

@media (any-pointer: coarse) {
        h1, h2, p, a{
        font-size: 150%;
        }
    }


article #leftText{
    text-align: left;
}

article #social{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
    gap: 20vw;

}
article #email{
    text-align: left;
}

h2{
    color: rgb(32, 95, 94);
}

article h2{
    color: black;
}



div{
    /* border: 1px solid green; */
}

p, a, h2{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    color: rgb(32, 95, 94);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
img {
    width: 100px;
}

